@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0px;
}
.gradient-text {
    background: linear-gradient(45deg, #f40685, #b102fc, #fea1d6, #387eff, #6495ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .container {
    width: 33%; /* Set the width as needed */
    background-color: rgba(255, 255, 255, 0.5); /* Background color with low opacity */
    padding: 4px;
    margin: 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px); /* Apply blur effect */
}
html {
    scroll-behavior: smooth;
}
.smooth-scroll {
    transition: transform 0.5s ease;
}
#drawer {
    z-index: 999;
  }
  
  #drawer [data-modal-hide] {
    position: absolute; 
    
    z-index: 1000; 
  }
  