@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0px;
}
.gradient-text {
    background: linear-gradient(45deg, #f40685, #b102fc, #fea1d6, #387eff, #6495ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .container {
    width: 33%; 
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 4px;
    margin: 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px); 
}
html {
    scroll-behavior: smooth;
}
.smooth-scroll {
    transition: transform 0.5s ease;
}

#drawer {
    z-index: 999;
  }
  
#drawer [data-modal-hide] {
position: absolute; 

z-index: 1000; 
}
@keyframes typing {
    from { width: 0; }
    to { width: 68%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.typewriter-container {
    width: 40%; 
    max-width: 400px; 
}

.typewriter::before {
    content: '';
    display: inline-block;
    width: 1px;
    border-right: 2px solid orange;
    margin-left: 5px;
    animation: blink-caret 0.75s step-end infinite;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap; 
    border-right: .15em solid rgb(0, 24, 96); 
    animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}


